#carouselExampleInterval img {
    width: 80%;
    /* que se ajuste al contenedor */
    height: 60vh;
    /* ocupa toda la altura */
    object-fit: cover;
    /* recorta la imagen sin deformarla */

}

#fuenteindex {
     font-family: "Norican", cursive;



}
#fuenteindex a{
    font-size: 28px;

}



#footer{

    display: flex;
    justify-content: space-evenly;
    font-size: 30px;


    
}

/* header{
    width: 100%;
} */
body {
    background-image: url("img/fr.avif");
    background-repeat: repeat;
    background-size: 250px auto;
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    background-position: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;


}


body::before {

    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /* color blanco semitransparente */
    z-index: -1;
}

.postresbg {
    background-image: url("img/postres.avif");
    background-repeat: repeat;
    background-size: 500px auto;
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    background-position: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;


}

.postresbg::before {


    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    /* color blanco semitransparente */
    z-index: -1;


}

/* #menureceta{
    font-size: 25px;
} */

.titlerecepie {
    margin: 70px;
    padding: 20px;

    background-color: antiquewhite;
    border-radius: 20px;
}

.recepieimage {

    display: flex;
    justify-content: space-evenly;
}

.picturerecepie {
    justify-content: space-evenly;

    border-radius: 30px;

}

.recepieparraf1 {


    border-radius: 20px;
    height: 500px;
    text-align: justify;
    width: 500px;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px;
    padding: 20px;
    backdrop-filter: blur(2px);
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 255, 255, 0.1);
    text-align: center;
    font-size: 20px;
    color: black;
    border-radius: 15px;
    align-items: center;

}

.recepieparraf2 {


    border-radius: 20px;
    height: 500px;
    text-align: justify;
    width: 500px;
    justify-content: space-evenly;
    text-align: center;
    margin: 30px;
    padding: 20px;
    backdrop-filter: blur(2px);
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 255, 255, 0.1);
    text-align: center;
    font-size: 20px;
    color: black;
    border-radius: 15px;
    align-items: center;

}


.cajasrecepie {

    display: flex;
    justify-content: space-evenly;
    width: 1400px;
    justify-content: space-between;


}



#tituloprincipal {
    font-size: 120px;
    margin: 40px;
}

#button {
    margin: 100px;
    padding: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;
   
}

.abutton {
    transition: transform 0.3s ease;
    /* para que la animación sea suave */
}


.abutton:hover {
    transform: scale(1.3) !important;
    /* agranda el botón un 20% */
    box-shadow: 0 0 15px rgba(255, 182, 193, 0.6) !important;
}

#main-contacto {

    margin: 10px;
    padding: 80px;
   
}

.opinion{
    margin: 30px;
    cursor:pointer;
    transition: 0.3s;

}

.opinion:hover{
    transform: scale(1.1);
}

.opinion .btn{
    font-size: 25px;
}
.opinion .card{
    font-size: 20px;
}


.form-label{
    border-radius: 15px;
    background-color: rgb(56, 170, 198);
    color: azure;
    padding: 6px;
}

.contactanosbg{

    display: flex;
    justify-content: space-evenly;

}

#bgcontacto{
    background-color: #ff7d3c;
}

#opinion {
    margin: 20px;
}

.productostitulo {
    margin: 80px;
    text-align: center;
    border-radius: 30px;
    background-color: antiquewhite;
    padding: 0.8px;
}

.fotosproductos img {
    width: 100%;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.grandefotos img {
    border-radius: 50px;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    display: flex;
}

.grandefotos {
    padding: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.fotosproductos ul {
    margin: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

ul {
    list-style: none;
}

#fondoproductos {
    background-image: url("img/puntos.jpg");
    background-color: rebeccapurple;
    font-family: "Momo Signature", cursive;
}


.hoverimg {


    transition: transform 0.3s ease;
    /* hace que el cambio sea suave */
}

.hoverimg:hover {
    transform: scale(1.3);
    /* agranda la imagen un 10% */
}

.fuenteotros {
    font-family: "Momo Signature", cursive;

}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 30px auto;
    background: rgb(255, 255, 255);
    font-size: 18px;


}

th,td {
    padding: 35px;
    text-align: center;
}

.btn-aumentar {
    background-color: #00ddffe1;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn-aumentar:hover {
    background-color: #ff7d3c;
    transform: scale(1.1);
}

.btn-disminuir{

    background-color: #603cff;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}



.btn-disminuir:hover{
    background-color: #ff004ce1;
    transform: scale(1.1);

}